<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
	<title>Ajouter un Contact</title>
	
  </head>
  <body>
   
 {{ form_start(form) }}
 {{ form_widget(form) }}
 <button type="submit">Ajouter contact</button>
 {{ form_end(form) }}
 
 </body>
 </html>